---
layout: default
title: Home
---

<div class="home">

  <div class="about-artist">
    <div class="left-col">
      <img src="assets/images/yuki-kajura.png" />
    </div>
    <div class="right-col">
      <p>
        Yuki Kajiura (梶浦由記), was born on August 6, 1965 in Tokyo, Japan. She has been playing music since 1972, accompanying her father on the piano. She moved to West Germany because her father was relocated later that year.
      </p>
      <p>
        Yuki Kajiura enjoys continuing success as a composer and still works with FictionJunction, Kalafina, and animation, documentary and live action movie studios to bring us the great music she has become known for.
      </p>
    </div>
    <div class="clearfix"></div>
  </div>
  <h2>Albums</h2>
  <div class="home-albums">
    <div class="albumgroup">
      <div class="releasedate">
        <b>Release Date</b>
      </div>
      <div class="albumname">
        <b>Album Title</b>
      </div>
      <div class="clearfix"></div>
    </div>
    {% for post in site.posts %}
      {% if post.tags contains 'album' %}
      <div class="albumgroup">

        <div class="releasedate">
          {{ post.releasedate }}
        </div>
        <div class="albumname">
          <a href="{{ site.baseurl }}/discography/#{{ post.quickid }}">{{ post.title }}</a>
        </div>
        <div class="clearfix"></div>
      </div>
      {% endif %}
    {% endfor %}
    <br />
    <a class="button" href="{{ site.baseurl }}/discography">See All Albums</a>
  </div>
  <br />
  <h2>News</h2>
  {% for post in site.posts %}
    {% if post.tags contains 'news' %}
    <b>{{ post.title }}</b>
    <p>
      {{ post.excerpt }}<br /><a href="{{ site.baseurl }}{{ post.url }}">Read more</a>
    </p>
    {% endif %}
  {% endfor %}
  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
